s3method(print,MBApalette)
export(exhibits)
export(mba_colors)
export(print_colors)
export(scale_fill_mba)
export(scale_color_mba)
importFrom(graphics,image)
importFrom(graphics,par)
importFrom(graphics,rect)
importFrom(graphics,text)
importFrom(stats,median)
