S3method(print,print_colors)
export(mba_colors)
export(mba_colors)
export(scale_fill_mba)
export(scale_color_mba)
importFrom(graphics,image)
importFrom(graphics,par)
importFrom(graphics,rect)
importFrom(graphics,text)
importFrom(stats,median)
